.side-bar
  .side
    .side__side-bar_user-name
      .side__side-bar_user-name-box
        .side__side-bar_user-name-box-name
          masa
        .side__side-bar_user-name-box-icon
          = link_to "#" do
            %i.fas.fa-edit
            %span<>
          = link_to "#" do
            %i.fas.fa-cog
            %span<>

  .side-group
    .side-group-main
      .side-group-main-name
        aaa
      .side-group-main-message
        こんにちは